{% load static %}
<!-- 
    Tomar todas las carpetas static que nosotros tengamos en las aplicaciones de nuestro proyecto
    conbinarlas en una y empezar a tener los archivos estaticos disponibles
-->
<link rel="stylesheet" href="{% static 'polls/style.css' %}"></link>

{% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
            <li>    
                {# /polls/{{ question.id }}: Hard coding | ¡Para qué si es lo mismo! #}
                <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            </li>
            {% endfor %}
        </ul>  

{% else %}
        <p>No polls are available.</p>
{% endif %}
    